{% extends 'notes_app/base.html' %}


{% block content %}

<div class = "jumbotron">
	<h1>Checklists</h1>
</div>
<div class = "container">
<form action = "{% url 'checklists' %}" method = "POST" autocomplete="off">
	{% csrf_token %}


	<h2>{{ form.title }}</h2>
	<input type = "submit" value = "Create a New Checklist" class = "btn btn-primary"/>
</form>
</div>

<br><br>

	{% for checklist_title in checklist_titles %}
	<div class = "container">
	<div class ="well" id = "checklist-index-well">
		<div class = "row">
			<div class = "col-sm-4">
				<a href = "{% url 'checklist_detail' checklist_title.id %}" id = "update_checklist_link">
					<h2>{{ checklist_title.title}}</h2>
				</a>
			</div>
			<div class = "col-sm-4">
				<a href="{% url 'checklist_name_update' checklist_title.id %}">Edit Checklist Name</a>
			</div>
			<div class = "col-sm-4">
				<a href = "" id = "delete_checklist_link">Delete Checklist</a>
			</div>
		</div>
		<div class = "row">
			<div class = "col-sm-4">
				Created : {{ checklist_title.created}}
			</div>
		</div>
	</div>
</div>
{% endfor %}






{% endblock content %}