
{% extends 'notes_app/base.html' %}



{% block content %}




<div class = "well">
	<h1>{{ title }}</h1>
</div>

<br>

<div class = "container">
<form method = 'POST' action = "{% url 'checklist_item_create' title.id %}" autocomplete="off">
	{% csrf_token %}
	{{ form }}
	<input type = 'submit' class = 'btn btn-primary'/>
</form>
</div>

<br><br>

{% for item in items %}
<div class = "container">
	<div class = "well" style = "text-align: center">
		<div class = "row">
			<div class = "col-sm-3" id = 'item_title'>
				{% if item.complete %}
					<strike>{{ item.text }}</strike>
				{% else %}
					{{ item.text}}
				{% endif %}
				
			</div>

			<div class = 'col-sm-3'>
				{% if item.complete %}
				<a href="{% url 'update_complete_field_item' title.id item.id %}">Task Completed</a>
				{% else %}
				<a href="{% url 'update_complete_field_item' title.id item.id %}">Tick off</a>
				{% endif %}
				
			</div>

			<div class = "col-sm-3"><a href="{% url 'checklist_item_update' title.id item.id %}">Edit Item</a>
			</div>

			<div class = "col-sm-3"><a href="{% url 'checklist_item_delete' title.id item.id %}">Delete Item</a>
				
			</div>


		</div>
	</div>

		
</div>


{% endfor %}


{% endblock content %}
