{% extends 'notes_app/base.html' %}



{% block content %}



{% if user.is_authenticated %}


<form action = "{% url 'index' %}" method = "POST" autocomplete="off">
	{% csrf_token %}
	<div class = "container">
<h2>{{ form.title }}</h2>
<h2>{{ form.author }}</h2>
	<input type = "submit" value = "Create Task" class = "btn btn-primary"></h2>
	</div>





</form>


<br><br>


{% for task in tasks %}
<div class = "container">
	<div class = "well">
	<p><a href = "{% url 'task_update' task.id %}"><h2>{{ task.title }}</h2></a>
		
		<a href = "{% url 'task_delete' task.id %}">Delete Task</a>
		<br>
		Created: {{ task.created }}<br>
		Updated : {{ task.updated }}
	</p><br>
	</div>
</div>
{% endfor %}





{% endif %}




{% endblock content %}






