{% extends 'notes_app/base.html' %}



{% block content %}






<form action = "{% url 'index' %}" method = "POST">
	{% csrf_token %}
	<div class = "container">
	{{form.title.label }}: {{ form.title }}

	<input type = "submit" value = "Create Task">
	</div>





</form>





{% for task in tasks %}
<div class = "container">
	<div class = "well">
	<p><a href = "{% url 'task_update' task.id %}"><h2>{{ task.title }}</h2></a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href = "{% url 'task_delete' task.id %}">Delete Task</a>
		Last Updated: {{ task.created }}
	</p><br>
	</div>
</div>
{% endfor %}






{% endblock content %}



















