{% extends 'notes_app/base.html' %}



{% block content %}


<div class = "jumbotron">
	<h1>Ultimate notes app</h1>
	
</div>


{% if messages %}
<ul class = "messages">
	{% for msg in messages %}
		<li{% if msg.tags %} class = "{{ message.tags }}"{% endif %}>{{ messsage }}</li>

	{% endfor %}
</ul>
{% endif %}






{% if user.is_authenticated %}


<form action = "{% url 'index' %}" method = "POST" autocomplete="off">
	{% csrf_token %}
	<div class = "container">
<h2>{{ form.title }}</h2>
<h2>{{ form.author }}</h2>
	<input type = "submit" value = "Create Task" class = "btn btn-primary"></h2>
	</div>





</form>


<br><br>


{% for task in tasks %}
<div class = "container">
	<div class = "well">
		<div class = "row">


			<div class = "col-sm-4"><p><a href = "{% url 'task_update' task.id %}"><h2>{{ task.title }}</h2></a></div>
			<div class = "col-sm-4"> <a href = "{% url 'task_update' task.id %}">Update Task</a></div>
			<div class = "col-sm-4"><a href = "{% url 'task_delete' task.id %}">Delete Task</a></div>
		</div>
		
			
			<br>
			Updated : {{ task.updated }}

		</p>
			
		

	</p><br>
	</div>
</div>
	{% endfor %}



{% elif not user.is_authenticated %}

<div class = "well">
<div class = "container">
	<div class = "row">
		<div class = "col-sm-4">
			<div class = "well"><h3>Welcome to Online to-do. This is a website where you can create to-do tasks.</h3></div>

		</div>

		<div class = "col-sm-4">
			<div class = "well">
			<h3>The website is in beta right now. There are lots of features that will be added in some time including color labels and label setting. </h3>
			</div>
		</div>

		<div class = "col-sm-4">
			<div class = "well"><h3>The online to-do allows you to create different tasks and save it online so your data is protected and saved in your account.</h3></div>
		</div>
	</div>
</div>
</div>




<div class = "well">
	<div class = "align_center">
<br>

<button class = "btn btn-success"><a href = "{% url 'register' %}" style="color: white">Sign Up</a></button>
<button class = "btn btn-primary"><a href="{% url 'login' %}" style="color: white">Login</a></button>
</form>
</div>
</div>



{% endif %}




{% endblock content %}


