{% extends 'notes_app/base.html' %}

{% block content %}

<h1>Welcome to the register page</h1>

{% if user.is_authenticated %}
	<h2>You're already logged in, You need to <a href = "{% url 'logout' %}">log out</a> first</h2>






{% else %}

<form action = "{% url 'register' %}" method = "POST">
	{% csrf_token %}
	<fieldset class = "form-group">
		<legend class = "border-bottom mb-4">Register</legend>
		{{ form }}
		<input type = "submit" value = "Sign Up">
	</fieldset>
</form>



{% if form.errors %}
	{% for field in form %}
		{% for error in field.errors %}
			<strong> {{ error }}</strong>
		{% endfor %}


	{% endfor %}



{% endif %}


{% endif %}



{% endblock content %}