{% extends 'notes_app/base.html' %}

{% block content %}

<div class = "container"><h1>Register New User</h1></div>
<br>

{% if user.is_authenticated %}
	<h2>You're already logged in, You need to <a href = "{% url 'logout' %}">log out</a> first</h2>






{% else %}
<div class = "container">
<div class = "well">
<form action = "{% url 'register' %}" method = "POST" autocomplete="off">
	{% csrf_token %}
	<fieldset class = "form-group">
		<legend class = "border-bottom mb-4">Register</legend>
		{{ form.as_p }}
		<br>
		<input type = "submit" value = "Sign Up" class = "btn btn-primary">
	</fieldset>
</form>
</div>
</div>

{% if form.errors %}
	{% for field in form %}
		{% for error in field.errors %}
			<strong> {{ error }}</strong>
		{% endfor %}


	{% endfor %}



{% endif %}


{% endif %}



{% endblock content %}











