

#task_complete {
	background-color : lavender;
	font-family : verdana;
	border-width : .5px .5px .5px .5px;
	
	border-style: solid;
	border-color: orange;

}


#task_incomplete {
	background-color : lavender;
	font-family : verdana;
	border-width : .5px .5px .5px .5px;
	
	border-style: solid;
	border-color: orange;

}



#align_center {
	color : blue;
	text-align: center;
}




/*.task-completed {

	color : black;
	background-color : grey;

}

*/


#task_complete {
	background-color : darkgrey;

}



