* {
	font-family : Arial, Helvetica, sans-serif

}


#task_complete {
	background-color : lavender;
	font-family : verdana;
	border-width : .5px .5px .5px .5px;
	
	border-style: solid;
	border-color: orange;

}


#task_incomplete {
	background-color : lavender;
	font-family : verdana;
	border-width : .5px .5px .5px .5px;
	
	border-style: solid;
	border-color: orange;

}



#align_center {
	color : blue;
	text-align: center;
}




/*.task-completed {

	color : black;
	background-color : grey;

}

*/


#task_complete {
	background-color : darkgrey;

}





#go_to_checklists {
	

	font-size : 20px;

	

}



#checklist-index-well {

	color : orange;
	background-color : lightblue;






}

#delete_checklist_link {
	color : red;

}	



#item_title {
	font-size : 20px;
	
}


.grid-container {
	display: grid;
	grid-template-columns: 40% 30%;
	
}


/* 
.grid-item {

}
 */


.signup-btns{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.signup-btns > * {
	margin-left: 3%

}


.jumbotron {
	text-align: center;
}


.login-form {
	text-align: center;
}


#no-account {
	display: flex;
	justify-content: center;
	margin-top: 3%
}