

.well {
	background-color : lavender;
	font-family : verdana;


 
	



}


.align_center {


	text-align: center;
}




.task-completed {

	color : black;
	background-color : grey;

}




#task_complete {
	background-color : darkgrey;


}



